<section class="pb-5 bg-sec">
  <div class="container pb-5 text-white">
    <div class="text-center pt-3">
      <h1 class="mb-2 pt-5 fw-bold fs-1 text-uppercase">about component</h1>
      <div class="icon m-auto position-relative mb-3">
        <i class="fa-solid fa-star" style="color: #ffffff"></i>
      </div>
    </div>
    <div class="row mb-3 px-5 pb-5">
      <div class="col-md-6 px-0">
        <div class="inner ps-5 pe-2 me-1">
          <p>
            Freelancer is a free bootstrap theme created by Route. The download
            includes the complete source files including HTML, CSS, and
            JavaScript as well as optional SASS stylesheets for easy
            customization.
          </p>
        </div>
      </div>
      <div class="col-md-6 px-0">
        <div class="inner pe-5 ps-2 ms-1">
          <p>
            Freelancer is a free bootstrap theme created by Route. The download
            includes the complete source files including HTML, CSS, and
            JavaScript as well as optional SASS stylesheets for easy
            customization.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
