<section class="pb-5 bg-sec">
  <div class="container pt-2">
    <div class="image mx-auto mb-4">
      <img src="/images/avataaars.svg" class="w-100 mb-3" alt="avatar" />
    </div>
    <div class="content text-center text-white">
      <h1 class="mb-2 fw-bold fs-1 text-uppercase">start Framework</h1>
      <div class="icon m-auto position-relative mb-3">
        <i class="fa-solid fa-star" style="color: #ffffff"></i>
      </div>
      <p class="mb-0">Graphic Artist - Web Designer - Illustrator</p>
    </div>
  </div>
</section>
